<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Microfrontends Example</title>
    </head>

    <body>
        
        <%- header %>
        <div class="main">
            <%- sidebar %>
            
            <%- content %>
        </div>
        <!-- IFRAME SOLUTION -->
        <!-- <iframe frameBorder="0" width="100%" height="200" src="https://microfend-header.herokuapp.com"></iframe>
        <iframe frameBorder="0" width="100%" height="200" src="https://microfend-sidebar.herokuapp.com/"></iframe>
        <iframe frameBorder="0" width="100%" height="200" src="https://microfend-content.herokuapp.com/"></iframe> -->
        <!--  -->
    </body>
</html>